


body{
	background-color: skyblue; 
	

}

#story {

	width: 260px;
	height: 84px;
	padding: 0px;
	border: 5px solid red;


}

#story:focus {
    outline: none !important;
    border:5px solid green;
    box-shadow: 0 0 10px #719ECE;
}


	






